{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/scripts.js"> </script>
    <script src="/static/bootstrap/css/bootstrap-responsive.css"></script>
    <script src="/static/bootstrap/css/bootstrap-responsive.min.css"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>


{% endblock %}
{% block body %}

<div class="container">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <img src="/static/img/capa.jpg" width="LARGURApx" height="ALTURApx"> </img>
                <p>{% trans %}Roupas na medida certa.{% endtrans %}</p>
            </div>
        </div>
    </div>
	<div class="row clearfix">
		<div class="col-md-6 column">
			<div class="carousel slide" id="carousel-553494">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-553494">
					</li>
					<li data-slide-to="1" data-target="#carousel-553494">
					</li>
					<li data-slide-to="2" data-target="#carousel-553494">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="/static/img/img4.jpg" width="LARGURApx" height="ALTURApx"> </img>
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item">
						 <img src="/static/img/img6.jpg" width="LARGURApx" height="ALTURApx"> </img>
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item">
						<img src="/static/img/img7.jpg" width="LARGURApx" height="ALTURApx"> </img>
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-553494" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-553494" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
		<div class="col-md-6 column">
			<div class="carousel slide" id="carousel-678927">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-678927">
					</li>
					<li data-slide-to="1" data-target="#carousel-678927">
					</li>
					<li data-slide-to="2" data-target="#carousel-678927">
					</li>
					<li data-slide-to="3" data-target="#carousel-678927">
					</li>
					<li data-slide-to="4" data-target="#carousel-678927">
					</li>
					<li data-slide-to="5" data-target="#carousel-678927">
					</li>
					<li data-slide-to="6" data-target="#carousel-678927">
					</li>
					<li data-slide-to="7" data-target="#carousel-678927">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="/static/img/rop1.jpg" width="LARGURApx" height="ALTURApx"> </img>
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item">
						<img src="/static/img/rop2.jpg" width="LARGURApx" height="ALTURApx"> </img>
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item">
						<img src="/static/img/rop3.jpg" width="LARGURApx" height="ALTURApx"> </img>
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item">
						<img src="/static/img/rop4.jpg" width="LARGURApx" height="ALTURApx"> </img>
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item">
						<img src="/static/img/rop5.jpg" width="LARGURApx" height="ALTURApx"> </img>
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item">
						<img src="/static/img/rop6.jpg" width="LARGURApx" height="ALTURApx"> </img>
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item">
						<img src="/static/img/rop7.jpg" width="LARGURApx" height="ALTURApx"> </img>
						<div class="carousel-caption">
							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item">
						<img src="/static/img/rop8.jpg" width="LARGURApx" height="ALTURApx"> </img>
						<div class="carousel-caption">

							<h4>

							</h4>
							<p>

							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-678927" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-678927" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
