{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/scripts.js"> </script>
    <script src="/static/bootstrap/css/bootstrap-responsive.css"></script>
    <script src="/static/bootstrap/css/bootstrap-responsive.min.css"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>


{% endblock %}
{% block body %}

{% endblock %}

